.list {
    padding: 70px;
    box-sizing: border-box;
}

.todo-bg{
    background-image: linear-gradient(to bottom, #060e46, dodgerblue);
    overflow: hidden;
}

.todo-card {
    background-color: #dedede;
    margin-bottom: 50px;
    padding: 30px;
    border-radius: 5px;
}

.todo-card p{
    margin: 0;
}

.todo-card input[type="text"]:first-child{
    font-weight: bolder;
}

.todo-card input[type="text"]{
    width: 100%;
    box-sizing: border-box;
}

.todo-card input{
    margin: 10px;
    padding: 10px;
    border: none;
    font-size: 16px;
}

.todo-card input:focus{
    outline-color: #060e46;
}

.clearfix:after, .clearfix:before {
    content: '';
    display: block;
    clear: both;
}

.todo-btn{
    padding: 6px 20px;
    margin: 10px;
    color: white;
    border-radius: 20px;
    border: 0;
    font-size: 14px;
    font-weight: bold;
}

.todo-btn:focus{
    outline: none;
}

.blue{
    background-color: blue;
}

.green {
    background-color: green;
}